version: '3.8'

services:
  postgres-db:
    image: postgres:latest
    container_name: postgres-db
    restart: always
    
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_DB: dados_persistentes
    
    env_file:
      - .env
      
    volumes:
      - desafio2_pgdata:/var/lib/postgresql/data
      
volumes:
  desafio2_pgdata: