version: '3.8'

services:
  db:
    image: postgres:latest
    container_name: db
    env_file:
      - .env
    volumes:
      - desafio3_db_data:/var/lib/postgresql/data
    networks:
      - desafio3_rede

  cache:
    image: redis:latest
    container_name: cache
    networks:
      - desafio3_rede
  
  web:
    image: nginx
    container_name: web
    ports:
      - "80:80"
    networks:
      - desafio3_rede
    depends_on:
      - db
      - cache

networks:
  desafio3_rede:
    driver: bridge

volumes:
  desafio3_db_data: