version: '3.8'

services:
  api-gateway:
    image: nginx:stable-alpine
    container_name: api-gateway
    volumes:
      - ./gateway-nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    ports:
      - "80:80"
    networks:
      - desafio5_rede
    depends_on:
      - user-service
      - order-service

  # 2. Microsserviço de Usuários
  user-service:
    image: python:3.9-slim
    container_name: user-service
    working_dir: /app
    volumes:
      - ./user-service:/app
    networks:
      - desafio5_rede
    command: sh -c "pip install Flask && python app.py"

  # 3. Microsserviço de Pedidos
  order-service:
    image: python:3.9-slim
    container_name: order-service
    working_dir: /app
    volumes:
      - ./order-service:/app
    networks:
      - desafio5_rede
    command: sh -c "pip install Flask && python app.py"

networks:
  desafio5_rede:
    driver: bridge